<template>
    <div>
        <div id="chartContainer"></div>
        <button @click="add(0)">QQWW</button>

        <input type="number" v-model.number="v_up" />
        <input type="number" v-model.number="v_down" />
    </div>
</template>

<script>

    import smoothing from '../../modules/smoothing';

let url = "http://192.168.4.1/";

    function f(x) {
        return (1.23*x+192.56) / 100;
    }

    import axios from "axios";

    export default {
        name: "CanvasJS",
        data() {
            return {
                chart: {},
                dps: [
                    //{y: 50, indexLabel: "highest", markerColor: "red", markerType: "triangle"},
                    //{y: 11, indexLabel: "lowest", markerColor: "DarkSlateGrey", markerType: "cross"},
                ],

                dps2 : [],

                timer : {},

                v_up : 13,
                v_down : 12,

                state : "",

                sss : smoothing(60),

                x : 1,
            }
        },
        mounted() {
            this.chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "Зарядка аккумулятора"
                },
                axisY: {
                    includeZero: false
                },
                data: [

                    {
                    type: "line",
                    showInLegend: true,
                    name: "No Filtered",
                    lineDashType: "dash",
                    color: "#89f061",
                    dataPoints: this.dps,
                },
                    {
                        type: "line",
                        showInLegend: true,
                        name: "After Filtered",
                        markerType: "square",
                        color: "#F08080",
                        dataPoints: this.dps2,
                    },]
            });
            this.chart.render();


            this.timer = setTimeout(this.update, 1000);
        },
        methods: {


            async update() {
                try {
                    let resp = await axios.get(url);
                    //console.log(resp.data);

                    let v = f(resp.data.A0);


                    if (this.dps.length > 10000) {
                        //console.log(this.dps);
                        this.dps.shift();
                        this.dps2.shift();
                    }

                    this.dps.push({ x: this.x, y: v });

                    v = this.sss(v);

                    this.dps2.push({ x: this.x++, y: v });

                    this.chart.render();

                    // разрядка

                     if (v > this.v_up) {

                        if (this.state != "raz") {
                            console.log("> UP", v > this.v_up);
                            let r = await axios.get(url+"?D0=1&D2=0");
                            this.state = "raz";
                        }

                    }

                    // зарядка
                    if (v < this.v_down) {
                        if (this.state != "zar") {
                            console.log("< DOWN", v < this.v_down);
                            let r = await axios.get(url+"?D0=0&D2=1");
                            this.state = "zar";
                        }
                    }


                } catch(e) {
                    console.log(e);
                }

                clearTimeout(this.timer);
                setTimeout(this.update, 1000);
            }
        }
    }
</script>

<style>
    #chartContainer {
        width: 100%;
        height: 80vh;
    }

    input {
        font-size: 36px;
    }
</style>