<template>
    <div class="rw" :style="{top:pos.t+'px', left:pos.l+'px', width:pos.w+'px', height:pos.h+'px', zIndex:z}">
        <textarea style="width: 100%; height: 100%; box-sizing: border-box;resize: none;">123</textarea>
        <div class="rp1" ref="rp1"></div>
        <div class="rp2" ref="rp2"></div>
        <div class="rp3" ref="rp3"></div>
        <div class="rp4" ref="rp4"></div>
        <div class="rp5" ref="rp5"></div>
    </div>
</template>

<script>
    export default {
        name: "RsWrap",

        props: {
            pos2:{
                default : { t:0, l:0, w:100, h:100 },
            },
        },

        data() {
            return {

                pos : { t:0, l:0, w:100, h:100 },
                old : { t:0, l:0, w:100, h:100 },

                resizeTarget : false,
                oldW:0,
                oldH:0,
                pageX : 0,
                pageY : 0,

                z:1,
            }
        },

        methods : {
            mousedown(e) {
                this.resizeTarget = e.target;
                this.pageX = e.pageX;
                this.pageY = e.pageY;

                this.old.t = this.pos.t;
                this.old.l = this.pos.l;
                this.old.w = this.pos.w;
                this.old.h = this.pos.h;

                this.z = window.z++;
            },
            mousemove(e) {
                if (!this.resizeTarget) return;

                console.log(this.resizeTarget.className)

                let dx = e.pageX - this.pageX;
                let dy = e.pageY - this.pageY;

                if (this.resizeTarget.className == "rp1") {
                    this.pos.t = this.old.t + dy;
                    this.pos.l = this.old.l + dx;
                    this.pos.w = this.old.w - dx;
                    this.pos.h = this.old.h - dy;
                }

                if (this.resizeTarget.className == "rp2") {
                    this.pos.t = this.old.t + dy;
                    this.pos.w = this.old.w + dx;
                    this.pos.h = this.old.h - dy;
                }

                if (this.resizeTarget.className == "rp3") {
                    this.pos.l = this.old.l + dx;
                    this.pos.w = this.old.w - dx;
                    this.pos.h = this.old.h + dy;
                }

                if (this.resizeTarget.className == "rp4") {
                    this.pos.h = this.old.h + dy;
                    this.pos.w = this.old.w + dx;
                }

                if (this.resizeTarget.className == "rp5") {
                    this.pos.t = this.old.t + dy;
                    this.pos.l = this.old.l + dx;
                }

                let step = 50;

                this.pos.t = Math.round(this.pos.t / step) * step;
                this.pos.l = Math.round(this.pos.l / step) * step;
                this.pos.w = Math.round(this.pos.w / step) * step;
                this.pos.h = Math.round(this.pos.h / step) * step;


            },
            mouseup() {
                this.resizeTarget = false;
            },
        },


        mounted() {
            this.$refs.rp1.addEventListener("mousedown", this.mousedown);
            this.$refs.rp2.addEventListener("mousedown", this.mousedown);
            this.$refs.rp3.addEventListener("mousedown", this.mousedown);
            this.$refs.rp4.addEventListener("mousedown", this.mousedown);
            this.$refs.rp5.addEventListener("mousedown", this.mousedown);

            document.body.addEventListener("mousemove", this.mousemove);
            document.body.addEventListener("mouseup", this.mouseup);
        }
    }
</script>

<style lang="scss">
    .rw {
        position: absolute;
        outline: none;

        float: left;
    }
    .rp1, .rp2, .rp3, .rp4, .rp5 {
        position: absolute;
        width: 16px;
        height: 16px;

        qbackground: rgba(0, 0, 0, 0.1);

        cursor:pointer;

        qborder-radius: 50%;
        qdisplay: none;
    }

    .rw:hover {
        .rp1, .rp2, .rp3, .rp4, .rp5 {
            background: rgba(0, 0, 0, 0.1);
        }
    }

    .rp1 {
        top: 0px;
        left: 0px;
        cursor: nw-resize;
    }
    .rp2 {
        top: 0px;
        right: 0px;
        cursor:ne-resize;
    }
    .rp3 {
        bottom: 0px;
        left: 0px;
        cursor:sw-resize;
    }
    .rp4 {
        bottom: 0px;
        right: 0px;
        cursor:se-resize;
    }

    .rp5 {
        top:calc(50% - 8px);
        left:calc(50% - 8px);
        cursor:move;
    }
</style>