<template>
    <div id="app" class="main-container">

        <CanvasJS></CanvasJS>


        <div class="header-row">
            <div class="left-col"></div>
            <div class="center-col">

                <div class="sm" style="width:460px;"><div class="sm" style="width:300px;">SM</div> MD</div>


            </div>
            <div class="right-col"></div>
        </div>
        <div class="center-row">
            <div class="left-col"></div>
            <div class="center-col">





                <!--<div class="page">-->
                    <!--<RsWrap></RsWrap>-->
                    <!--<RsWrap></RsWrap>-->
                    <!--<RsWrap></RsWrap>-->
                    <!--<RsWrap></RsWrap>-->
                <!--</div>-->


            </div>
            <div class="right-col"></div>
        </div>
        <div class="footer-row">
            <div class="left-col"></div>
            <div class="center-col"></div>
            <div class="right-col"></div>
        </div>
    </div>
</template>

<style lang="scss">
    body {
        padding: 0px;
        margin: 0px;

        font-family: Roboto,Helvetica,Arial,sans-serif;
        -webkit-font-smoothing: antialiased;

        background-color: #eeeeee;
    }

    wdiv {
        outline:1px dashed gray;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .header-row, .footer-row {
        display: flex;
        flex:0 0 50px;
    }

    .center-row {
        display: flex;
        flex:1 1 auto;
    }

    .left-col {
        flex:0 0 250px;
        background-color: #fafafa;

        border-right: 1px solid gray;

        qbox-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
    }

    .center-col {
        flex:1 1 auto;
        overflow: auto;
        display: block;
    }

    .right-col {
        display: none;
    }

    .page {
        margin:50px auto;
        width:900px;
        height: 900px;


        border: 1px outset #f4f4f4;

        background-image: url("https://webtutorials.tech/wp-content/uploads/2019/10/BS4-grids.png");
        background-repeat: repeat-y;
        background-size: 100% auto;

        position: relative;
    }

    .sm {
        display: inline-block;
    }


</style>
<script>
    import CanvasJS from "./components/CanvasJS/CanvasJS";
    import RsWrap from "./components/RsWrap";
    export default {
        components: {RsWrap, CanvasJS}
    }
</script>